<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403917510865-fvjsnfk9b0tkcpcienkbhkk2gluj7sdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403917510865-fvjsnfk9b0tkcpcienkbhkk2gluj7sdu</string>
	<key>API_KEY</key>
	<string>AIzaSyDhRFMAkrXZzG02bM4xO-5YKTWkqVxJq1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>403917510865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiran.bakas</string>
	<key>PROJECT_ID</key>
	<string>baakas-ddd52</string>
	<key>STORAGE_BUCKET</key>
	<string>baakas-ddd52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403917510865:ios:fdc700c6cb5b5041a64df0</string>
	<key>DATABASE_URL</key>
	<string>https://baakas-ddd52.firebaseio.com</string>
</dict>
</plist>